.nav-container{
}

.nav-logo{
display: block;
}

.logo-img{
   height: 15px;
}

.nav-menu{
   /*width: 200px;*/
   display: flex;
   justify-content: space-between;
   transition: display 0.2s;
}

.nav-signin{
   display: block;
   transition: display 0.2s;
}

.nav-btn, .signin-btn{
   background-color: transparent;
   border: none;
   border-radius: 3px;
   cursor: pointer;
   transition: background-color 0.2s
}

.nav-btn{
   padding: 8px 12px;
   margin: 0 5px
}

.hiring-advert{
   color:white;
   font-size: 8px;
   padding: 4px 6px;
   border-radius: 8px;
   margin-left: 8px;
   cursor: pointer;
   font-family: Arial, Helvetica, sans-serif;
   transition: box-shadow 0.2s;
   background-image: linear-gradient(to right, #EAAE53, #EA5772); 
}

.hiring-advert:hover{
   box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
}

.nav-menu > a{
   text-decoration: none;
   font-size: 12px;
   color: rgb(97, 97, 97);
   font-family: Arial, Helvetica, sans-serif
}

.signin-btn{
   padding: 13px 13px;
   font-size: 10px;
}

.signin-btn:hover, .nav-btn:hover{
   background-color: rgb(233, 231, 231);
}

.join-btn{
   padding: 13px 13px;
   color: white;
   background-color: #4977EA;
   border: none;
   border-radius: 3px;
   font-size: 10px;
   transition: background-color 0.2s;
   cursor: pointer;
}

.join-btn:hover{
   background-color: #184AC9;
}

.nav-expand{
   display: none;
   transition: display 0.2s;
   font-size: 30px;
   color: black;
}

@media (max-width: 768px) { 
   body{
      padding: 5px;
   }
   .nav-expand{
      display: block;
   }
   .nav-menu{
      display: none;
   }
   
   .nav-signin{
      display: none;
   }
}